Checks: "clang-diagnostic-*,
    clang-analyzer-*,
    *,
    -llvmlibc-callee-namespace,
    -readability-identifier-length,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -llvm-namespace-comment,
    -llvm-include-order,
    -altera-*,
    -fuchsia-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -llvm-header-guard,
    -cppcoreguidelines-macro-usage,
    -abseil-*"
WarningsAsErrors: ""
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: file
